<% include partials/header %>

    <h1>
        <%=alumni.name%>
    </h1>

    <img src="<%=alumni.image%>">

    <h2>
        <%=alumni.batch%>
    </h2>

    <h2>
        <%=alumni.college%>
    </h2>

    <h3>
        <%=alumni.location%>
    </h3>

    <h3>
        <%=alumni.branch%>
    </h3>


    <a class="btn btn-warning" href="/alumni/<%=alumni._id%>/edit"> EDIT</a>





    <% include partials/footer %>